<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mission-Vission</title>
  <link rel="stylesheet" href="../static/style.css"> <!-- css link -->
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link rel="icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="..//static/style.css">
  <link rel="stylesheet" href="..//static/cardstyle.css">

  <!-- ANIMATION AOS LINK CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <meta name="theme-color" content="#712cf9">

  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">

</head>


<body style="padding-top: 75px;">
  <%- include('common/header.ejs'); %>

    <div class=" p-md-6 my-6 mt-0 d-flex  align-items-center justify-content-center"
      style="  background-color: #f6f2ed; padding-top: 80px;padding-bottom: 80px; position: sticky; ">
      <div class="col-md-6 px-0 d-flex flex-column align-items-center justify-content-center" style="width: 100% ;">
        <h1 class="heading  fw-bold text-center ">About Us</h1>
        <a href="">
          <h3 class="text-md-center text-black">Home / About Us </h3>
        </a>
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row featurettes bg-light d-flex justify-content-center align-items-center py-5">
        <div class="col-md-7 order-md-2 placeholder-wave">
          <h2 class=" text-center fw-bold my-4">About Alumni Association
          </h2>
          <p class=" placeholder-glow" style="text-align: justify;">
            Welcome to the Alumni Association Cell, a vibrant community bridging the gap between our esteemed alumni and
            current students.
            We strive to foster lifelong connections, providing regular events, reunions, and online
            networking platforms.
            Our initiatives celebrate the achievements of our members, enhancing the college's
            reputation. Through mentorship, internships, and career opportunities, we connect students with successful
            alumni.
            Our professional development workshops, mentoring programs, and resources support personal and
            professional growth. Together, we give back by volunteering, building an inclusive community, and advocating
            for our college.
            Join us in embracing the power of alumni collaboration and engagement.
          </p>

        </div>


      </div>

    </div>



    <div class="container">
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-2 p-2">
            <h2 class="display-5">Vision</h2>
            <p class="lead"> Alumni Association Vision</p>
          </div>
          <div style="text-align: justify;">
            <p>
              “To foster a lifelong relationship between the alumni and the college, and to create a community that
              supports the personal and professional growth of its members.”
            </p>
            <!-- <p>To establish a lifelong relationship between the alumni and the college, and to create a network of
              engaged and supportive alumni who positively impact their communities.</p> -->
          </div>
        </div>
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-2 py-2">
            <h2 class="display-5">Mission</h2>
            <p class="lead">Alumni Association Mission</p>
          </div>
          <div style="text-align: justify;">
            <p>"Our mission is to connect, support, and empower our diverse community of alumni and current students,
              fostering meaningful relationships, professional growth, and impactful collaborations that contribute to
              the success and reputation of our college."</p>
            <!-- <p>To establish a lifelong relationship between the alumni and the college, and to create a network of
              engaged
              and supportive alumni who positively impact their communities.</p> -->
          </div>
        </div>

      </div>
    </div>

    <div class="bg-light text-secondary px-4 py-5 text-center">
      <div class="py-5">
        <h1 class="display-5 fw-bold text-black my-4">Objectives</h1>
        <div class="col-lg-6 mx-auto" style="text-align: justify;">
          <p class="fs-5 mb-4">To connect alumni with each other and the college through regular events, reunions, and
            online networking opportunities.</p>
          <p class="fs-5 mb-4">To promote the achievements and successes of our members, and to enhance the reputation
            of the college through alumni-led initiatives and programs.
          </p>
          <p class="fs-5 mb-4">To connect current students with successful alumni for mentorship, internships, industry
            connections and career opportunities.
          </p>
          <p class="fs-5 mb-4">To support the personal and professional growth of our members through professional
            development workshops, mentoring programs, and career resources.
          </p>
          <p class="fs-5 mb-4">To give back to the college by volunteering our time and expertise to help current
            students and the college community.
          </p>
          <p class="fs-5 mb-4">To build a culture of engagement and belonging among our members, and to create a
            welcoming and inclusive community for all alumni.
          </p>
          <p class="fs-5 mb-4">To serve as advocates for the college by building relationships with prospective
            students, families, and donors, and by communicating the college's mission, values, and achievements to a
            wider audience.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- footer -->
    <%- include('common/footer.ejs'); %>

      <!-- JS LINK ANIMATION  -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init(
          {
            offset: 300,
            duration: 2000,
          }
        );
      </script>
      <!-- MDB -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>

</body>

</html>