<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
       

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://sdbc.ac.in/">BANSAL COLLEGE. MADE BY </a>
        <a class="text-reset fw-bold" href="https://github.com/deevanshu-k">&hearts; Deevanshu.k</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->